*{
	margin:0;
	padding:0;
}
.conteiner
{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
}
.conteiner img{
	width: 100%;
	height: 100%
}
.autoGUI{
	position: absolute;
	width: 20%;
	height: 30%;
	top:34%;
	left: 40%;
	border: solid black;
}
.autoGUI input{
	height: 10%;
	width: 40%;
	max-height: 10%;
	max-width: 40%;
	margin:10px;
}
.musick{
	height: 0px;
	width: 0px;
}
.regGUI{
	position: absolute;
	width: 25%;
	height: 40%;
	top:35%;
	left: 40%;
	border: solid black;
}
.regGUI input{
	height: 6%;
	width: 40%;
	max-height: 10%;
	max-width: 40%;
	margin:10px;
}
.regGUI h1{
	text-align: left;
	font-size: 11px;
	font-family: 'Arimo', sans-serif;

}
.black
{	width: 50%;
	height: 100%;
	background:#232323;
	max-width: 100%;
	box-sizing: border-box;

}
.while
{	
	width: 50%;
	height: 100%;
	left: 50%;
	background:#e8e8e8;
	max-width: 100%;
	box-sizing: border-box;
}
.img
{
	width: 100%;
	height: 100%;
	background:#232323;
	max-width: 100%;
	box-sizing: border-box;
}
